@media (min-width: 768px) {
    /* Global Stuff
    ------------------------------------*/
    p {
        font-size: 26px;
        line-height: 1.25;
    }


    /* Section #1
    ------------------------------------*/
    .hp-section-one {
        padding-top: 15%;
        background-size: 325px;
    }
        .hp-section-one h1 {
            font-size: 48px;
            margin-bottom: 48px
        }

    /* Section #2
    ------------------------------------*/
    .hp-section-two {
        padding-top: 0;
    }
        .hp-section-two h2 {
            font-size: 98px;
            letter-spacing: -6px;
        }
        .hp-section-two p {
            font-size: 22px;
        }
        .hp-section-two img {
            max-width: 125px;
        }
            .hp-section-two [class*="hp-feature-"] h3 {
                font-size: 28px;
            }
            .hp-section-two [class*="hp-feature-"] p {
                font-size: 20px;
            }

    /* Section #3
    ------------------------------------*/
    .hp-section-three {
        padding-top: 2.5%;
    }
        .hp-section-three h2 {
            font-size: 98px;
            letter-spacing: -6px;
        }

    /* Section #4
    ------------------------------------*/
    .hp-section-four {
        padding-top: 0;
    }
        .hp-section-four h2 {
            font-size: 40px;
            letter-spacing: -2px;
        }
        .hp-section-four h3 {
        }
        .hp-section-four .hp-columns {
            margin: 0;
        }
        .hp-section-four [class*="hp-column-"] {
            margin: 0;
            padding-bottom: 9999px;
        }

    /* Utlity Classes
    ------------------------------------*/
    .hp-heading {
        margin-bottom: 30px
    }
}
