/* Mobile First */
.hp-section-three {
    background: #54575A
}
.hp-section-three h2 span {
    color: #89744F;
    font-size: 0.5em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hp-section-three {
        padding-top: 2.5%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
